@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */

@layer base {
  :root {
    --background-color: #e5e5e5;
    --text-color: #000000;
    --card-color: #fff;
    --border-color: #d4d4d4;
    --text-foreground: #00000080;
    --badge-color: #e5e5e5;
    --searchbar-color: #fff;
    --brand-color: #3b82f6;
    --radius: 0.5rem;
    --btn-hover: #fafafa;
    --brand-hover: #60a5fa;
    --hover-color: #f5f5f5;
    --selected-hover-bg: #bfdbfe33;
    --selected-bg: #bfdbfe1a;
    --selected-border: #93c5fd80;
    --error-color: #dc2626;
    --warn-color: #fefce8;
    --warn-border: transparent;
    --warn-text: #facc15;
    --success-color: #4ade80;
    --sidebar-hover: #e5e5e5;
  }
  .dark {
    --background-color: #000;
    --card-color: #171717;
    --text-color: #ffff;
    --text-foreground: #d4d4d4;
    --btn-hover: #ffffff33;
    --badge-color: #262626;
    --border-color: #262626;
    --hover-color: #1b1b1b;
    --error-color: #fca5a5;
    --warn-color: #fefce8;
    --warn-border: #fde047;
    --warn-text: #fde047;
    --success-color: #86efac;
    --sidebar-hover: #1b1b1b;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .control-label {
    @apply text-sm font-semibold;
  }
  .btn {
    @apply rounded-r dark:bg-[#ffffff0d] flex items-center text-sm dark:text-white input-shadow dark:hover:bg-[#fff3]  font-medium border-0 outline-none ml-[1px] h-[36px] py-2 px-3 gap-1.5 text-[#171717] bg-white hover:bg-[#fafafa];
  }
  .input {
    @apply block w-full rounded-none rounded-l bg-[#ffffff0d] focus:ring-[#60a5fa] focus:ring-2 text-sm text-black dark:text-white font-medium border-0  input-shadow py-1.5 px-3 outline-none h-[36px] placeholder:text-[#777];
  }
  .cancel-btn {
    @apply sm:mt-0 sm:w-auto mt-3 inline-flex w-full justify-center dark:bg-[#ffffff1a] border-transparent dark:text-white dark:hover:bg-[#fff3] dark:hover:text-white text-[#171717] bg-white hover:bg-[#fafafa] hover:text-[#171717] input-shadow px-3 py-2 h-[36px];
  }
  .done-btn {
    @apply sm:mt-0 sm:w-auto mt-3 inline-flex w-full justify-center bg-[#60a5fa] border-transparent text-white hover:bg-[#93c5fd] hover:text-white px-3 py-2 h-[36px];
  }
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.dark .input-shadow {
  --tw-text-opacity: 1;
  --tw-ring-color: #ffffff1a;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}
.input-shadow {
  --tw-text-opacity: 1;
  --tw-ring-color: #d4d4d4;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}
.partially-assigned-bg {
  background: linear-gradient(
    225deg,
    #60a5fa,
    #60a5fa 6px,
    #ffffff1a 6px,
    #ffffff1a 8px,
    #60a5fa 8px,
    #60a5fa 15px,
    #ffffff1a 15px,
    #ffffff1a
  );
}
.swiper-button-next,
.swiper-button-prev {
  color: black !important;
  background: white !important;
  border-radius: 50% !important;
  height: 28px !important;
  width: 28px !important;
  margin-top: calc(0px - (28px / 2)) !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px !important;
  font-weight: 700 !important;
}
.swiper-button-disabled {
  display: none !important;
}
.swiper-wrapper {
  display: flex;
}
html,
body {
  overflow-x: hidden;
}
